<html>
<body>
<div id="candidate">
    <table>
        <tr>
            <td>Name:</td>
            <td>${candidate.name}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>${candidate.email}</td>
        </tr>
        <tr>
            <td>About:</td>
            <td>${candidate.about}</td>
        </tr>
        <tr>
            <td>Urls:</td>
            <td>${candidate.urls}</td>
        </tr>
    </table>
</div>
Previously submitted: ${previouslySubmitted}
</body>
</html>